<!DOCTYPE html>
<html>

<head>
  <th:block th:include="fragments/dashboardVehicles.html :: headerfiles"></th:block>
</head>

<body data-gr-c-s-loaded="true">
  <nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center">
          <div class="navbarIcon"><i style="margin:0;" class="fas fa-car fa-3x"></i></div>
          <h2 th:text="${vehicle.model}" class="h5"></h2><span th:text="${vehicle.vin}">VIN</span>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <ul id="side-main-menu" class="side-menu list-unstyled">
          <li><a href="index.html"> <i class="fas fa-home"></i>HOME                             </a></li>
          <li><a href="forms.html"> <i class="fas fa-road"></i>RODAGENS                             </a></li>
          <li><a href="charts.html"> <i class="far fa-chart-bar"></i>ESTATÍSTICAS                             </a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page">
    <header th:replace="fragments/dashboardVehicles.html :: header">
    </header>
    <!-- Statistics Section-->
    <section class="statistics" style="margin-top: 32px;">
      <div class="container-fluid">
        <div class="row d-flex">
          <div class="col-lg-4">
            <!-- Odometro-->
            <div class="card income text-center">
              <h2 class="display h4">Odômetro</h2>
              <div class="icon"><i class="fas fa-tachometer-alt"></i></div>
              <div class="number">126,418</div><strong class="text-primary">km</strong>
              <p>Calculado até a última rodagem cadastrada.</p>
            </div>
          </div>
          <div class="col-lg-4">
          <!-- Comsumo medio-->
            <div class="card income text-center">
              <h2 class="display h4">Consumo médio</h2>
              <div class="icon"><i class="fas fa-gas-pump"></i></div>
              <div class="number">10.56</div><strong class="text-primary">km/l</strong>
              <p>Baseado no histórico de consumos médios registrado</p>
            </div>
          </div>
          <div class="col-lg-4">
          <!-- Total de rodagens-->
            <div class="card income text-center">
              <h2 class="display h4">Rodagens realizadas</h2>
              <div class="icon"><i class="fas fa-road"></i></div>
              <div class="number">210</div><strong class="text-primary">Rodagens</strong>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-padding">
      <div class="container-fluid">
      <h1 style="display:none;"><i class="fas fa-car"></i></h1>
      <h1 style="display:none;" id="vin" th:text="${vehicle.vin}"></h1>
      <h3></i>DETALHES DO VEÍCULO</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Potência</th>
            <th>Torque</th>
            <th>Cilindrada</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${vehicle.brand}">45</td>
            <td th:text="${vehicle.model}">45</td>
            <td th:text="${vehicle.year}">45</td>
            <td th:text="${vehicle.power}">45</td>
            <td th:text="${vehicle.torque}">45</td>
            <td th:text="${vehicle.eng_size}">45</td>
          </tr>
        </tbody>
      </table>
      <h3></i>RODAGENS</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Odômetro início</th>
            <th>Odômetro fim</th>
          </tr>
        </thead>
        <tbody>
          <tr class="drive_row" th:each="drive: ${drives}">
            <td id="drive_id" th:text="${drive.id}">vasile</td>
            <td th:text="${drive.mileage_start}">vasile</td>
            <td th:text="${drive.mileage_end}">45</td>
          </tr>
        </tbody>
      </table>
    </div>
    </section>
    <footer th:replace="fragments/dashboardVehicles.html :: footer">
    </footer>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
  <!-- Main File-->
  <script th:src="@{/js/vehicleDashboard.js}"></script>
  <!-- Script to open vehicle page -->
  <script>
    $(function() {
      $('.drive_row').click(function() {
        var vin = $(document).find("#vin").html();
        var drive_id = $(this).find("#drive_id").html();
        window.location.href = '/admin/vehicle' + '/' + vin + '/drive/' + drive_id;
      });
    });
  </script>
</body>

</html>
